<!DOCTYPE html>

<div class="container text-center">

  <%= render "layouts/errors", :object => @team %>

  <%= form_for [@sport,@team] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br/><br/>
    <%= f.label :image %>
    <%= f.file_field :image %><br/>
    <%= f.label :members %><br/>
    <%= f.text_area :members, multiple: true, as: :array, size: "24x6"%><br/>
    <%= f.label :points %>
    <%= f.number_field :points %><br/><br/>
    <%= f.label :win %>
    <%= f.number_field :win %><br/><br/>
    <%= f.label :loss %>
    <%= f.number_field :loss %><br/><br/>
    <%= f.submit class: "btn btn-large btn-primary"%>
  <% end %>
</div>
