<!DOCTYPE html>
<div class="container-fluid text-center">


    <%= render 'layouts/errors', :object => @sport %>

    <%= form_for @sport, html: {multipart: true} do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %><br/>
      <div class="text-center">
        <%= f.label :image %>
        <%= f.file_field :image %><br/>
      </div>
      <%= f.submit class: "btn btn-large btn-primary"%>
    <% end %>
</div>
