<!DOCTYPE html>
<!-- teams row rendered in admin sport index -->
<div class="container">
  <div class="row">

    <h3 class="text-center">Teams</h3>
    <% if @sport.teams.any?%>
    <ul>
      <% @sport.teams.each do |team|%>
        <li><%= team.name%></li>
        <li><%= image_tag team.image.url(:medium) %></li>
        <li><%= team.members%></li>
        <li><%= team.points %> points</li>
        <li><%= team.win %> wins</li>
        <li><%= team.loss %> losses</li>
        <li><%= link_to "Edit", edit_sport_team_path(@sport, team), class: "btn btn-primary" %> <%= link_to "Delete", sport_team_path(@sport, team), class: "btn btn-danger", :data => {:confirm => "Are you sure?", :method => "delete"}%></li><hr/>
      <%end%>
    </ul>
    <%else%>
      <p>Add more teams by signing in as a team leader!</p>
    <%end%>
  </div>

    <div class="row">
      <%= link_to "New Team", new_sport_team_path(@sport)%>
      <p><%= link_to "Delete", sports_path(@sport), :data => {:confirm => "You sure?", :method => "delete"}%></p>
    </div>
</div>
