<!DOCTYPE html>
<div class="home">

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1 class="display-3">About</h1>
        <p class="lead">This is a simple sports app for joining a team of your liking and arranging tournaments with other registered teams. Sign Up as a user to join a team!!</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" role="button"<%= link_to "Sign up", new_user_registration_path%></a>
        </p>
    </div>
    </div>
    <!-- <div class="row">
      <h3>Admin</h3>
      <%= link_to "Sign_up", new_admin_registration_path%>|<%= link_to "Sign_in", new_admin_session_path%>
    </div>
    <div class="row">
      <h3>Coach</h3>
      <%= link_to "Sign_up", new_coach_registration_path%>|<%= link_to "Sign_in", new_coach_session_path%>
    </div>
    <div class="row">
      <h3>Player</h3>
      <%= link_to "Sign_up", new_user_registration_path%>|<%= link_to "Sign_in", new_user_session_path%>
    </div>
    <h1>WELCOME</h1>
    <p>sports hub</p>
</div> -->
</div>
</div>
