<!DOCTYPE html>
<div class="container-fluid">
  <div class="container">

    <div class="row">
      <h3>Admin</h3>
      <%= link_to "Sign_up", new_admin_registration_path%>|<%= link_to "Sign_in", new_admin_session_path%>
    </div>
    <div class="row">
      <h3>Coach</h3>
      <%= link_to "Sign_up", new_coach_registration_path%>|<%= link_to "Sign_in", new_coach_session_path%>
    </div>
    <div class="row">
      <h3>Player</h3>
      <%= link_to "Sign_up", new_user_registration_path%>|<%= link_to "Sign_in", new_user_session_path%>
    </div>
    <h1>WELCOME</h1>
    <p>sports hub</p>
</div>
</div>
