<!DOCTYPE html>
<html>
  <head>
    <title>SportsHub</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <header>
        <%= render("layouts/navbar")%>
      </header>
    </div>
    <div class="row">
      <div class="container">
        <%= render("/layouts/logout")%>
      </div>
    </div>

    <div class="row">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
